body,
html {
  margin: 0;
  padding: 0;
}

.blend {
  height: 707px;
  width: 500px;
  background-color: black;
}

.blend-text {
  position: absolute;
  color: white;

  height: 707px;
  width: 500px;

  font-size: 15px;

  text-align: center;

  overflow: hidden;
}

.blend-img {
  position: absolute;
  mix-blend-mode: multiply;
  width: 500px;
}
